.btn {
	--font-primary-fallback: monospace;
	display: inline-block;
	font-size: var(--font-size-xs);
	padding: var(--spacing-2xs) var(--spacing-xs);
	background: var(--border-default);
	color: light-dark(var(--white), var(--black));
	border: 0;
	cursor: pointer;
	text-align: center;
}

.btn:hover {
	transform: translate(2px, 2px);
	box-shadow:
		2px 2px 0 0 var(--border-dark),
		0 0 0 2px #000;
}

.btn:active {
	transform: translate(4px, 4px);
	box-shadow: 0 0 0 2px #000;
}

.btn-ghost {
	background: transparent;
	box-shadow:
		4px 4px 0 0 var(--border-dark),
		0 0 0 2px var(--border-dark);
}
.btn-ghost:hover {
	background: var(--border-dark);
	color: #fff;
}