.quests-grid {
	@mixin container-left-align;
	display: grid;
	grid-template-columns: repeat(3, var(--card-width));
	gap: var(--spacing-md);
	overflow-x: auto;
	padding-block-end: var(--spacing-md);
}

.quest-card {
	@mixin box;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	transition: transform 0.1s, box-shadow 0.1s;
	width: var(--card-width);
}

.quest-card-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quest-icon {
	font-size: var(--font-size-lg);
}

.badge {
	font-size: var(--font-size-2xs);
	padding: 2px var(--spacing-2xs);
	border: 2px solid currentColor;
}
.badge-done {
	color: var(--green);
}
.badge-wip {
	color: light-dark(var(--purple), var(--yellow));
}

.quest-title {
	--heading-color: var(--cyan);
	font-size: var(--font-size-sm);
}

.quest-desc {
	font-size: var(--font-size-xs);
	flex: 1;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-2xs);
}

.tag {
	font-size: var(--font-size-2xs);
	background: var(--box-inner-background-default);
	border: 1px solid var(--border-dark);
	color: var(--purple);
	padding: 2px 6px;
	font-weight: 700;
}
